* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.active {
  color: white;
}

a {
  text-decoration: none !important;
}


.contact-item {
  display: flex;
}

.contact-item i {
  margin-right: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;

}